# Notebook pour la transformation des donnée de la consommation d'électicité

In [1]:
import pandas as pd
import numpy as np

In [10]:
# import du fichier excel
data = pd.read_excel('/Users/yibtv/Espace-travail/projet_jhipster/data/raw/consom_elect_fromEIA.xlsx')
# affichage
data.head(100)

   countryRegionName  period  productName     value
0              Benin    2023  Electricity  1.458948
1              Benin    2022  Electricity  1.433123
2              Benin    2021  Electricity  1.520100
3              Benin    2020  Electricity  1.286700
4              Benin    2019  Electricity  1.257200
..               ...     ...          ...       ...
95        Cabo Verde    2016  Electricity  0.336400
96        Cabo Verde    2015  Electricity  0.316600
97        Cabo Verde    2014  Electricity  0.325300
98        Cabo Verde    2013  Electricity  0.302000
99        Cabo Verde    2012  Electricity  0.279900

[100 rows x 4 columns]

In [11]:
#changement des noms de colonne 
data = data.rename (columns={
    'countryRegionName':  'country',
    'period':'year',
    'productName':'fuel',
    'value': 'value(GWh)'
    })

# Conversion de billion kWh en GWh
data['value(GWh)'] = data['value(GWh)'] * 1000 

# on remplace les valeur de la colonne fuel par 'Power'
data['fuel'] = 'Power'

data.head(100)

       country  year   fuel  value(GWh)
0        Benin  2023  Power  1458.94827
1        Benin  2022  Power  1433.12305
2        Benin  2021  Power  1520.10000
3        Benin  2020  Power  1286.70000
4        Benin  2019  Power  1257.20000
..         ...   ...    ...         ...
95  Cabo Verde  2016  Power   336.40000
96  Cabo Verde  2015  Power   316.60000
97  Cabo Verde  2014  Power   325.30000
98  Cabo Verde  2013  Power   302.00000
99  Cabo Verde  2012  Power   279.90000

[100 rows x 4 columns]

In [12]:
country_mapping = {
    'Burkina Faso': 'Burkina_faso',
    'Cabo Verde':'Cape_verde',
    "Cote d'Ivoire":'Cote_d_ivoir',
    'Gambia, The':'Gambia',
    'Guinea-Bissau':'Guinea_bissau',
    'Sierra Leone': 'Sierra_leone',
}

# Remplacement des termes dans la colonne 'Technology'
data['country'] = data['country'].replace(country_mapping)

print(data.country.unique())

['Benin' 'Burkina_faso' 'Cape_verde' 'Cote_d_ivoir' 'Gambia' 'Ghana'
 'Guinea' 'Guinea_bissau' 'Liberia' 'Mali' 'Mauritania' 'Niger' 'Nigeria'
 'Senegal' 'Sierra_leone' 'Togo']

# Sauvegarde du Dataset apres transformation dans le repertoir des données pret a etre charger dans la base de donnée

In [13]:
import os
import pandas as pd

# Définir le chemin du fichier
output_dir = "/Users/yibtv/Espace-travail/projet_jhipster/data/processed"  # Chemin absolu sur macOS/Linux
output_file = os.path.join(output_dir, "consom_elect_processed.xlsx")

# Créer le répertoire s'il n'existe pas
os.makedirs(output_dir, exist_ok=True)

# Sauvegarder dans un fichier Excel
try:
    data.to_excel(output_file, index=False)
    print("Données sauvegardées avec succès dans", output_file)
except Exception as e:
    print(f"Erreur lors de la sauvegarde : {e}")

Données sauvegardées avec succès dans /Users/yibtv/Espace-travail/projet_jhipster/data/processed/consom_elect_processed.xlsx