# Notebook pour la transformation des donnée de la capacité de production d'électicité pour la visualisation

In [6]:
import pandas as pd
import numpy as np

In [7]:
# import du fichier excel
data = pd.read_excel('/Users/yibtv/Espace-travail/projet_OM4A/data/raw/Data from CMP.xlsx', sheet_name=1)
# affichage
data.head(100)

,Country,Power Pool,Plant Name,Location,Technology Type,Technology,Installed Capacity,Availability Capacity,Commissioning Date,Investment Cost (US$/kW),...,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155,Unnamed: 156,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160
0,Benin,WAPP,Maria Gleta (TAG CEB) Site 4,NaN,Gas,Nat. Gas,20,20,1998,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Benin,WAPP,Maria Gleta (BWSC),NaN,Gas,Nat. Gas,127,127,2019,NaN,...,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
2,Benin,WAPP,Akpakpa (SBEE),NaN,Oil (HFO),Fuel Oils,30,0,2011,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Benin,WAPP,Natitingou (SBEE),NaN,Oil (Diesel),Fuel Oils,12,4,2005,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Benin,WAPP,Parakou (SBEE),NaN,Oil (Diesel),Fuel Oils,25.3,4,2010,NaN,...,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,147.0,147.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Ghana,WAPP,TT2PP GT4,NaN,Oil (Diesel),Fuel Oils,7.9,7.2,2010,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,Ghana,WAPP,TT2PP GT5,NaN,Oil (Diesel),Fuel Oils,7.9,7.2,2010,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,Ghana,WAPP,KTPP1 GT1,NaN,Oil (Diesel),Fuel Oils,110,100,2017,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,Ghana,WAPP,KTPP2 GT2,NaN,Oil (Diesel),Fuel Oils,110,100,2017,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,Ghana,WAPP,AKSA GT,NaN,Oil/(HFO),Fuel Oils,370,345,2017,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Selection des colonnes, il s'agit des capacité disponible et installé selon les pays, technologie en fonction de la date de creation et la date de supression

In [8]:
# selection des colonnes necessaire
data = data[['Country', 'Technology', 'Installed Capacity', 'Availability Capacity', 'Commissioning Date', 'Decommissioing date']]
data = data.dropna()
data.head(100)

,Country,Technology,Installed Capacity,Availability Capacity,Commissioning Date,Decommissioing date
0,Benin,Nat. Gas,20,20,1998,2041.0
1,Benin,Nat. Gas,127,127,2019,2044.0
2,Benin,Fuel Oils,30,0,2011,2019.0
3,Benin,Fuel Oils,12,4,2005,2041.0
4,Benin,Fuel Oils,25.3,4,2010,2041.0
...,...,...,...,...,...,...
103,Ghana,Nat. Gas,360,340,2016,2041.0
104,Ghana,Nat. Gas,50,50,2018,2043.0
105,Ghana,Nat. Gas,147,147,2018,2043.0
106,Ghana,Nat. Gas,153,153,2019,2044.0
107,Ghana,Nat. Gas,360,360,2018,2043.0

Conversion de MW en GW et transformation de noms de certaines colonnes

In [9]:
# supresion des ligne sans valeur 
data.dropna()

# Conversion des valeur en type numerique
data['Installed Capacity'] = pd.to_numeric(data['Installed Capacity'], errors='coerce')
data['Availability Capacity'] = pd.to_numeric(data['Availability Capacity'], errors='coerce')

# sachant que  1GW = 1000MW alors :
data['Installed Capacity'] = data['Installed Capacity'] / 1000
data['Availability Capacity'] = data['Availability Capacity'] / 1000

# renommage de la colonne
data = data.rename(columns={
    'Installed Capacity':  'Installed Capacity (GW)',
    'Availability Capacity': 'Availability Capacity (GW)',
    'Decommissioing date': 'Decommissioning date'
    
})
# conversion de Decommisioning date en INTEGER
data['Decommissioning date'] = data['Decommissioning date'].astype(int)

data.head(100)

,Country,Technology,Installed Capacity (GW),Availability Capacity (GW),Commissioning Date,Decommissioning date
0,Benin,Nat. Gas,0.0200,0.020,1998,2041
1,Benin,Nat. Gas,0.1270,0.127,2019,2044
2,Benin,Fuel Oils,0.0300,0.000,2011,2019
3,Benin,Fuel Oils,0.0120,0.004,2005,2041
4,Benin,Fuel Oils,0.0253,0.004,2010,2041
...,...,...,...,...,...,...
103,Ghana,Nat. Gas,0.3600,0.340,2016,2041
104,Ghana,Nat. Gas,0.0500,0.050,2018,2043
105,Ghana,Nat. Gas,0.1470,0.147,2018,2043
106,Ghana,Nat. Gas,0.1530,0.153,2019,2044
107,Ghana,Nat. Gas,0.3600,0.360,2018,2043

Remplacement de noms des technologies pour une conformité avec les termes de la base de donnée

In [10]:
# Dictionnaire de mapping pour les nouveaux noms
tech_mapping = {
    'Solar PV': 'PV Solar',
    'Nat. Gas': 'Natural Gas',
}

# Remplacement des termes dans la colonne 'Technology'
data['Technology'] = data['Technology'].replace(tech_mapping)

# Vérifier les nouvelles valeurs uniques
print(data['Technology'].unique())

['Natural Gas' 'Fuel Oils' 'Hydro' 'PV Solar' 'Coal' 'Wind']

# Chargement du resultat apres traitement dans le dossier processed

In [6]:
# Sauvegarder dans un fichier excel
data.to_excel('/Users/yibtv/Espace-travail/projet_OM4A/data/data_visu/residual_capa_for_visu.xlsx', index=False)
print("Donnée sauvegardée ")

Donnée sauvegardée