# Notebook pour la transformation des donnée de la production d'électicité pour la visualisation

In [1]:
import pandas as pd
import numpy as np

In [2]:
# import du fichier excel
data = pd.read_excel('/Users/yibtv/Espace-travail/projet_OM4A/data/raw/prod_elect_fromEIA.xlsx')
# affichage
data.head(100)

   countryRegionName  period  productName  value
0              Benin    2023      Nuclear  0.000
1              Benin    2022      Nuclear  0.000
2              Benin    2021      Nuclear  0.000
3              Benin    2020      Nuclear  0.000
4              Benin    2019      Nuclear  0.000
..               ...     ...          ...    ...
95             Benin    2016  Natural gas  0.007
96             Benin    2015  Natural gas  0.111
97             Benin    2014  Natural gas  0.104
98             Benin    2013  Natural gas  0.038
99             Benin    2012  Natural gas  0.000

[100 rows x 4 columns]

In [3]:
#changement des noms de colonne 
data = data.rename (columns={
    'countryRegionName':  'country',
    'period':'year',
    'productName':'technology',
    'value': 'value(GWh)'
    })


# Conversion de billion kWh en GWh
data['value(GWh)'] = data['value(GWh)'] * 1000 

data.head(100)

   country  year   technology  value(GWh)
0    Benin  2023      Nuclear         0.0
1    Benin  2022      Nuclear         0.0
2    Benin  2021      Nuclear         0.0
3    Benin  2020      Nuclear         0.0
4    Benin  2019      Nuclear         0.0
..     ...   ...          ...         ...
95   Benin  2016  Natural gas         7.0
96   Benin  2015  Natural gas       111.0
97   Benin  2014  Natural gas       104.0
98   Benin  2013  Natural gas        38.0
99   Benin  2012  Natural gas         0.0

[100 rows x 4 columns]

# sauvegarde du Dataset dans le dossier data_visu

In [4]:
# Sauvegarder dans un fichier excel
data.to_excel('/Users/yibtv/Espace-travail/projet_OM4A/data/data_visu/prod_elect_for_visu.xlsx', index=False)
print("Donnée sauvegardée ")

Donnée sauvegardée