# Notebook pour la transformation des donnée de la production d'électicité pour la visualisation

In [5]:
import pandas as pd
import numpy as np

In [18]:
# import du fichier excel
data = pd.read_excel('/Users/yibtv/Espace-travail/projet_OM4A/data/raw/prod_elect_fromEIA.xlsx')
# affichage
data.head(100)

   countryRegionName  period  productName  value
0              Benin    2023      Nuclear  0.000
1              Benin    2022      Nuclear  0.000
2              Benin    2021      Nuclear  0.000
3              Benin    2020      Nuclear  0.000
4              Benin    2019      Nuclear  0.000
..               ...     ...          ...    ...
95             Benin    2016  Natural gas  0.007
96             Benin    2015  Natural gas  0.111
97             Benin    2014  Natural gas  0.104
98             Benin    2013  Natural gas  0.038
99             Benin    2012  Natural gas  0.000

[100 rows x 4 columns]

In [19]:
print(data.isna().sum())

countryRegionName      0
period                 0
productName            0
value                960
dtype: int64

In [20]:
# supresion des ligne sans valeur 
data = data.dropna()

#changement des noms de colonne 
data = data.rename (columns={
    'countryRegionName':  'country',
    'period':'year',
    'productName':'technology',
    'value': 'value(GWh)'
    })


# Conversion de billion kWh en GWh
data['value(GWh)'] = data['value(GWh)'] * 1000 

data.head(100)

    country  year technology  value(GWh)
0     Benin  2023    Nuclear         0.0
1     Benin  2022    Nuclear         0.0
2     Benin  2021    Nuclear         0.0
3     Benin  2020    Nuclear         0.0
4     Benin  2019    Nuclear         0.0
..      ...   ...        ...         ...
135   Benin  2020        Oil       232.6
136   Benin  2019        Oil       205.9
137   Benin  2018        Oil       134.0
138   Benin  2017        Oil       184.6
139   Benin  2016        Oil       259.0

[100 rows x 4 columns]

verification des valeur manquante

In [21]:
print(data.isnull().sum())

country       0
year          0
technology    0
value(GWh)    0
dtype: int64

# sauvegarde du Dataset dans le dossier data_visu

In [22]:
# Sauvegarder dans un fichier excel
data.to_excel('/Users/yibtv/Espace-travail/projet_OM4A/data/data_visu/prod_elect_for_visu.xlsx', index=False)
print("Donnée sauvegardée ")

Donnée sauvegardée